[submodule "Vendor/SFBAudioEngine"]
	path = Vendor/SFBAudioEngine
	url = https://github.com/sbooth/SFBAudioEngine.git
[submodule "Vendor/KFEpubKit"]
	path = Vendor/KFEpubKit
	url = https://github.com/ricobeck/KFEpubKit.git
[submodule "Vendor/KissXML"]
	path = Vendor/KissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "Vendor/ssziparchive"]
	path = Vendor/ssziparchive
	url = https://github.com/soffes/ssziparchive.git
[submodule "Vendor/KFToolbar"]
	path = Vendor/KFToolbar
	url = https://github.com/ricobeck/KFToolbar.git
[submodule "Vendor/CocoaLumberjack"]
	path = Vendor/CocoaLumberjack
	url = https://github.com/CocoaLumberjack/CocoaLumberjack.git
[submodule "Vendor/Libraries"]
	path = Vendor/Libraries
	url = https://github.com/icservis/Libraries.git
[submodule "Vendor/MMTabBarView"]
	path = Vendor/MMTabBarView
	url = https://github.com/MiMo42/MMTabBarView.git
