[submodule "Vendor/SFBAudioEngine"]
	path = Vendor/SFBAudioEngine
	url = https://github.com/sbooth/SFBAudioEngine.git
[submodule "Vendor/KFEpubKit"]
	path = Vendor/KFEpubKit
	url = https://github.com/ricobeck/KFEpubKit.git
[submodule "Vendor/KissXML"]
	path = Vendor/KissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "Vendor/ssziparchive"]
	path = Vendor/ssziparchive
	url = https://github.com/soffes/ssziparchive.git
